:root {
  /*   grays                        blues                      reds         */
  --z0:rgb(24, 32, 40);       --a0: rgb(24, 32, 40);      --b0:rgb(41, 23, 35);
  --z1:rgb(36, 44, 52);       --a1: rgb(34, 52, 68);      --b1:rgb(68, 33, 52);
  --z2:rgb(49, 56, 64);       --a2: rgb(42, 74, 97);      --b2:rgb(97, 42, 67);
  --z3:rgb(63, 69, 76);       --a3: rgb(47, 98, 127);     --b3:rgb(129, 51, 79);
  --z4:rgb(76, 83, 89);       --a4: rgb(49, 122,159);     --b4:rgb(161, 60, 88);
  --z5:rgb(91, 97, 103);      --a5: rgb(48, 148,191);     --b5:rgb(193, 71, 94);
  --z6:rgb(105, 111, 116);    --a6: rgb(40, 174, 223);    --b6:rgb(225, 84, 97);
  --z7:rgb(120, 125, 130);    --a7: rgb(14, 202, 255);    --b7:rgb(255, 100, 96);
  --z8:rgb(120, 125, 130);    --a8: rgb(14, 202, 255);    --b8:rgb(255, 100, 96);
  --z9:rgb(137, 142, 146);    --a9: rgb(89, 209, 254);    --b9:rgb(255, 125, 116);
  --z10:rgb(155, 159, 163);   --a10:rgb(126, 216, 254);   --b10:rgb(255, 147, 137);
  --z11:rgb(174, 177, 180);   --a11:rgb(155, 223, 253);   --b11:rgb(255, 168, 159);
  --z12:rgb(192, 195, 197);   --a12:rgb(181, 230, 253);   --b12:rgb(255, 189, 181);
  --z13:rgb(211, 213, 214);   --a13:rgb(205, 237, 252);   --b13:rgb(255, 210, 204);
  --z14:rgb(230, 231, 232);   --a14:rgb(228, 243, 251);   --b14:rgb(255, 230, 227);
  --z15:rgb(250, 250, 250);   --a15:rgb(250, 250, 250);   --b15:rgb(250, 250, 250);
  -webkit-font-smoothing: antialiased;
}

.inverted {
  --z15:rgb(24, 32, 40);      --a15:rgb(24, 32, 40);      --b15:rgb(41, 23, 35);
  --z14:rgb(36, 44, 52);      --a14:rgb(34, 52, 68);      --b14:rgb(68, 33, 52);
  --z13:rgb(49, 56, 64);      --a13:rgb(42, 74, 97);      --b13:rgb(97, 42, 67);
  --z12:rgb(63, 69, 76);      --a12:rgb(47, 98, 127);     --b12:rgb(129, 51, 79);
  --z11:rgb(76, 83, 89);      --a11:rgb(49, 122, 159);    --b11:rgb(161, 60, 88);
  --z10:rgb(91, 97, 103);     --a10:rgb(48, 148, 191);    --b10:rgb(193, 71, 94);
  --z9:rgb(105, 111, 116);    --a9:rgb(40, 174, 223);     --b9 :rgb(225, 84, 97);
  --z8:rgb(120, 125, 130);    --a8:rgb(14, 202, 255);     --b8 :rgb(255, 100, 96);
  --z7:rgb(120, 125, 130);    --a7:rgb(14, 202, 255);     --b7 :rgb(255, 100, 96);
  --z6:rgb(137, 142, 146);    --a6:rgb(89, 209, 254);     --b6 :rgb(255, 125, 116);
  --z5:rgb(155, 159, 163);    --a5:rgb(126, 216, 254);    --b5 :rgb(255, 147, 137);
  --z4:rgb(174, 177, 180);    --a4:rgb(155, 223, 253);    --b4 :rgb(255, 168, 159);
  --z3:rgb(192, 195, 197);    --a3:rgb(181, 230, 253);    --b3 :rgb(255, 189, 181);
  --z2:rgb(211, 213, 214);    --a2:rgb(205, 237, 252);    --b2 :rgb(255, 210, 204);
  --z1:rgb(230, 231, 232);    --a1:rgb(228, 243, 251);    --b1 :rgb(255, 230, 227);
  --z0:rgb(250, 250, 250);    --a0:rgb(250, 250, 250);    --b0 :rgb(250, 250, 250);
  -webkit-font-smoothing: auto;
}

:root {
  --x1:  4px;
  --x2:  8px;
  --x3:  12px;
  --x4:  16px;
  --x5:  20px;
  --x6:  24px;
  --x7:  28px;
  --x8:  32px;
  --x9:  36px;
  --x10: 40px;
  --x11: 44px;
  --x12: 48px;
  --x13: 52px;
  --x14: 56px;
  --x15: 60px;

  --mono-font: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  --ui-font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  --transition-duration: 333ms;
  --transition-fast: 200ms;
}

a, a:link, a:active, a:visited {
  color: var(--a6);
}

a:hover {
  color: var(--a8);
}