:root {          /* red */        /* yellow */     /* green */
--z0: #111827;   --a0: #291e2a;   --b0: #292329;   --c0: #16262f; 
--z1: #1e2433;   --a1: #42242e;   --b1: #43322a;   --c1: #1b373a; 
--z2: #2b313f;   --a2: #5b2a32;   --b2: #5d412b;   --c2: #1e4944; 
--z3: #393e4c;   --a3: #753035;   --b3: #77512b;   --c3: #215c4f; 
--z4: #474c59;   --a4: #8f3539;   --b4: #926129;   --c4: #21705a; 
--z5: #565a66;   --a5: #aa3a3c;   --b5: #ad7225;   --c5: #218465; 
--z6: #656974;   --a6: #c53e3f;   --b6: #ca8320;   --c6: #1d9970; 
--z7: #747782;   --a7: #e14242;   --b7: #e69515;   --c7: #16ae7b; 
--z8: #848790;   --a8: #f2524e;   --b8: #f7a327;   --c8: #32bd88; 
--z9: #94969f;   --a9: #f76b62;   --b9: #fbae48;   --c9: #57c596; 
--z10: #a4a6ae;  --a10: #fc8277;  --b10: #feb963;  --c10: #73cea4; 
--z11: #b4b7bd;  --a11: #ff978d;  --b11: #ffc47e;  --c11: #8cd6b3; 
--z12: #c5c7cc;  --a12: #ffaca2;  --b12: #ffcf97;  --c12: #a4ddc1; 
--z13: #d6d8db;  --a13: #ffc1b9;  --b13: #ffdab1;  --c13: #bbe5d0; 
--z14: #e7e9eb;  --a14: #ffd5d0;  --b14: #ffe5cb;  --c14: #d1eddf; 
--z15: #f9fafb;  --a15: #fde9e7;  --b15: #fdf0e5;  --c15: #e7f4ee; 

/* blue */       /* violet */     /* purple */      /* pink */
--d0: #172139;   --e0: #191f38;   --f0: #1c1f39;   --g0: #261e31; 
--d1: #1d2d4f;   --e1: #22284e;   --f1: #29274f;   --g1: #3f253e; 
--d2: #223966;   --e2: #2c3165;   --f2: #372f66;   --g2: #572c4b; 
--d3: #28457f;   --e3: #363a7d;   --f3: #46377f;   --g3: #713258; 
--d4: #2d5298;   --e4: #3f4495;   --f4: #543f98;   --g4: #8b3866; 
--d5: #315fb2;   --e5: #494daf;   --f5: #6447b2;   --g5: #a63d74; 
--d6: #356dcd;   --e6: #5457c9;   --f6: #7350cd;   --g6: #c14283; 
--d7: #397be8;   --e7: #5e61e3;   --f7: #8358e8;   --g7: #de4692; 
--d8: #5089f7;   --e8: #706ef2;   --f8: #9466f7;   --g8: #ee569f; 
--d9: #6f96f8;   --e9: #867ff4;   --f9: #a378f8;   --g9: #f26faa; 
--d10: #88a4f9;  --e10: #9a90f5;  --f10: #b28bf9;  --g10: #f585b5; 
--d11: #9eb2f9;  --e11: #aca2f7;  --f11: #c09efa;  --g11: #f89ac1; 
--d12: #b3c0fa;  --e12: #bdb3f8;  --f12: #cdb1fa;  --g12: #faafcd; 
--d13: #c6cffa;  --e13: #cec5f9;  --f13: #d9c4fb;  --g13: #fbc3d9; 
--d14: #d8defb;  --e14: #ddd8fa;  --f14: #e5d7fb;  --g14: #fbd6e5; 
--d15: #eaedfb;  --e15: #edeafb;  --f15: #f0eafb;  --g15: #faeaf1;
  -webkit-font-smoothing: antialiased;
}

.inverted {
--z15: #111827; --a15: #291e2a;  --b15: #292329;  --c15: #16262f; 
--z14: #1e2433; --a14: #42242e;  --b14: #43322a;  --c14: #1b373a; 
--z13: #2b313f; --a13: #5b2a32;  --b13: #5d412b;  --c13: #1e4944; 
--z12: #393e4c; --a12: #753035;  --b12: #77512b;  --c12: #215c4f; 
--z11: #474c59; --a11: #8f3539;  --b11: #926129;  --c11: #21705a; 
--z10: #565a66; --a10: #aa3a3c;  --b10: #ad7225;  --c10: #218465; 
--z9:  #656974; --a9:  #c53e3f;  --b9:  #ca8320;  --c9:  #1d9970; 
--z8:  #747782; --a8:  #e14242;  --b8:  #e69515;  --c8:  #16ae7b; 
--z7:  #848790; --a7:  #f2524e;  --b7:  #f7a327;  --c7:  #32bd88; 
--z6:  #94969f; --a6:  #f76b62;  --b6:  #fbae48;  --c6:  #57c596; 
--z5:  #a4a6ae; --a5:  #fc8277;  --b5:  #feb963;  --c5:  #73cea4; 
--z4:  #b4b7bd; --a4:  #ff978d;  --b4:  #ffc47e;  --c4:  #8cd6b3; 
--z3:  #c5c7cc; --a3:  #ffaca2;  --b3:  #ffcf97;  --c3:  #a4ddc1; 
--z2:  #d6d8db; --a2:  #ffc1b9;  --b2:  #ffdab1;  --c2:  #bbe5d0; 
--z1:  #e7e9eb; --a1:  #ffd5d0;  --b1:  #ffe5cb;  --c1:  #d1eddf; 
--z0:  #f9fafb; --a0:  #fde9e7;  --b0:  #fdf0e5;  --c0:  #e7f4ee; 

/* blue */       /* violet */     /* purple */      /* pink */
--d15:#172139;   --e15: #191f38;  --f15:  #1c1f39;  --g15: #261e31; 
--d14:#1d2d4f;   --e14: #22284e;  --f14:  #29274f;  --g14: #3f253e; 
--d13:#223966;   --e13: #2c3165;  --f13:  #372f66;  --g13: #572c4b; 
--d12:#28457f;   --e12: #363a7d;  --f12:  #46377f;  --g12: #713258; 
--d11:#2d5298;   --e11: #3f4495;  --f11:  #543f98;  --g11: #8b3866; 
--d10:#315fb2;   --e10: #494daf;  --f10:  #6447b2;  --g10: #a63d74; 
--d9: #356dcd;   --e9:  #5457c9;  --f9:   #7350cd;  --g9:  #c14283; 
--d8: #397be8;   --e8:  #5e61e3;  --f8:   #8358e8;  --g8:  #de4692; 
--d7: #5089f7;   --e7:  #706ef2;  --f7:   #9466f7;  --g7:  #ee569f; 
--d6: #6f96f8;   --e6:  #867ff4;  --f6:   #a378f8;  --g6:  #f26faa; 
--d5:  #88a4f9;  --e5:  #9a90f5;  --f5:   #b28bf9;  --g5:   #f585b5; 
--d4:  #9eb2f9;  --e4:  #aca2f7;  --f4:   #c09efa;  --g4:   #f89ac1; 
--d3:  #b3c0fa;  --e3:  #bdb3f8;  --f3:   #cdb1fa;  --g3:   #faafcd; 
--d2:  #c6cffa;  --e2:  #cec5f9;  --f2:   #d9c4fb;  --g2:   #fbc3d9; 
--d1:  #d8defb;  --e1:  #ddd8fa;  --f1:   #e5d7fb;  --g1:   #fbd6e5; 
--d0:  #eaedfb;  --e0:  #edeafb;  --f0:   #f0eafb;  --g0:   #faeaf1;
  -webkit-font-smoothing: auto;
}

:root {
  --x1:  4px;
  --x2:  8px;
  --x3:  12px;
  --x4:  16px;
  --x5:  20px;
  --x6:  24px;
  --x7:  28px;
  --x8:  32px;
  --x9:  36px;
  --x10: 40px;
  --x11: 44px;
  --x12: 48px;
  --x13: 52px;
  --x14: 56px;
  --x15: 60px;
  --x16: 64px;

  --mono-font: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  --ui-font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  --transition-duration: 333ms;
  --transition-fast: 200ms;
  --panel-width: calc(var(--x10)*2*2 + var(--x1));
}

a, a:link, a:active, a:visited {
  color: var(--d6);
}

a:hover {
  color: var(--d8);
}