@font-face {
    font-family: 'Bankoli';
    src: url('font-files/bair.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rounded MPlus 1c';
    src: url('font-files/MPLUSRounded1c-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif JP';
    src: url('font-files/NotoSerifJP-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
