/* Comment to prevent wrong concat */

body {
  background: #3f3f3c;
  font: 13px/120% 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
}

::selection {background: #000; color: #fff; /* Safari */}
::-moz-selection {background: #000; color: #fff; /* Firefox */}

html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: #444;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #444;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #666;
}

::-webkit-scrollbar-corner {
  background: #444;
}

#browser-not-supported {
        font-size: 0.8em;
        font-family: Verdana, Helvetica, Arial;
        color: #000000;
}

 #svgroot {
  -moz-user-select: none;
  -webkit-user-select: none;
  position: absolute;
  top: 0;
  left: 0;
}

#svg_editor {
  background: #2f2f2c;
}


#svgcanvas {
  line-height: normal;
  display: inline-block;
  background-color: #A0A0A0;
  text-align: center;
  vertical-align: middle;
  width: 640px;
  height: 480px;
  position: relative;
  background: #3F3F3C;
}


#use_panel .tool_button,
#path_node_panel .tool_button {
  color: #999;
  border: solid #3F3F3C 1px;
  border-radius: 3px;
  background: transparent;
  margin-top: 10px;
  width: 90%;
  line-height: 40px;
}

#use_panel .tool_button:hover,
#path_node_panel .tool_button:hover {
  border-color: #666;
  color: #aaa;
}

#use_panel .tool_button {
  padding-left: 10px;
  margin-bottom: 10px;
  width: 124px;
}

 #path_node_panel .tool_button img,  #path_node_panel .tool_button svg {
  position: absolute;
  left: 5px;
  top: 3px;
}

 #color_tools #tool_fill .color_block:hover,  #color_tools #tool_stroke .color_block:hover {
  border-color: #fff;
}

 #color_tools #tool_fill .color_block > div {
  position: absolute;
  top: 0;
  left: 0;
}

.touch  #color_tools #tool_fill .color_block > div {
  position: relative;
}

 #color_tools #tool_fill .color_block #fill_bg,  #color_tools #tool_stroke .color_block #stroke_bg {
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
}

.touch  #color_tools #tool_fill .color_block #fill_bg, .touch  #color_tools #tool_stroke .color_block #stroke_bg {
  width: 36px;
  height: 36px;
  right: auto;
  bottom: auto;
}

.touch #tool_stroke {
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
}

#stroke_color:after {
  content: '';
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  left: 8px;
  top: 8px;
  background: #ccc;
  box-shadow: 0 0 0 1px #000;
}

.touch #stroke_color:after {
  height: 14px;
   left: 10px;
   position: absolute;
   top: 10px;
   width: 14px;
   
}

#tool_switch {
  cursor: pointer;
  opacity: 0.7;
  width: 11px;
  height: 11px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 11'%3E%3Cpath d='M3.01 2A6 6 0 019 8h1.83l-2.91 2.91L5 8h2a4 4 0 00-3.99-4v1.93L.1 3.02 3.01.1V2z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E") top left no-repeat;
  position: absolute;
  top: -2px;
  left: 28px;
  cursor: nwse-resize
}

 #color_tools #cross:hover {
  opacity: 1;
}

 #color_tools #tool_stroke:hover #stroke_color:after {
  background: #fff;
}

 #color_tools #tool_stroke .color_block {
  width: 24px;
  height: 24px;
  overflow: hidden;
  border: solid #ccc 1px;
}

.touch  #color_tools #tool_stroke .color_block {
  width: 36px;
  height: 36px;
}

 #color_tools #tool_stroke .color_block > div {
  position: absolute;
  bottom: 0;
  right: 0;
}

.touch  #color_tools #tool_stroke .color_block > div {
  position: relative;
}



 #color_tools .icon_label {
  padding: 0;
  width: 24px;
  height: 100%;
  cursor: pointer;
  position: absolute;
}

 #linkLabel > svg {
  height: 20px;
  padding-top: 4px;
}

 div#workarea {
  display: inline-table-cell;
  position:absolute;
  top: 30px;
  left: 50px;
  bottom: 40px;
  right: 175px;
  background-color: #444;
  overflow: auto;
  text-align: center;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.13,0.66,0.24,0.92);
  -moz-transition: -moz-transform 500ms cubic-bezier(0.13,0.66,0.24,0.92);
  -o-transition: -o-transform 500ms cubic-bezier(0.13,0.66,0.24,0.92);
  -ms-transition: -ms-transform 500ms cubic-bezier(0.13,0.66,0.24,0.92);
  transition: transform 500ms cubic-bezier(0.13,0.66,0.24,0.92);
}

.touch  div#workarea {
  top: 40px;
}

 #main_icon span {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 2;
}

 #tools_top {
  position: absolute;
  width: 160px;
  height: 100%;
  background: #2f2f2c;
  right: 0;
  top: 20px;
  border-bottom: none;
  overflow: visible;
  padding: 0 0 0 15px;
}

.touch  #tools_top {
  top: 30px;
}

 label {
  display: block;
  color: #999;
  white-space: nowrap;
}

div#font-selector { 
    width:140px; 
    height:300px; 
    overflow:auto;  
    margin:0 auto; 
    position:absolute; 
    top:27px;
    right:0;
    border:1px solid black; 
    padding:10px; 
    display:none; 
    background-color:white;
    z-index: 10;
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.7);
}

div#font-selector img {
  width: 100%;
}

div#font-selector .font-item {
  border-bottom: solid #ddd 1px;
  padding: 5px 10px;
  margin: 0 -10px;
}

div#font-selector .font-item:hover {
  background-color: #eee;
}

 #tools_top #marker_panel * {
  float: left;
}

 #tools_top #marker_panel h4 {
  float: none;
}

 #tools_top #marker_panel .dropdown .icon_label {
  width: 36px;
  height: 20px;
  margin-top: 2px;
  border: solid #3f3f3c 1px;
  text-align: center;
}

 #tools_top #marker_panel .dropdown button {
  margin-top: 2px;
}

 #tools_top #marker_panel #marker_panel_title {
  float: none;
  color: #fff;
  margin-bottom: 3px;
}

 #tools_top #marker_panel .dropdown .icon_label img {
  float: none;
}


 #color_picker input[type=text], #color_picker  input[type=number] {
  width: 30px;
  background: #fff;
  border: solid rgba(0,0,0,0.3) 1px;
}

 .dropdown_set input[type=text],  .dropdown_set input[type=number] {
  width: 50px;
}

 input[type=text].wide,  input[type=number].wide {width: 110px;}
 input[type=text].tuco,  input[type=number].tuco {width: 150px;}

 input[type=submit],  input[type=button], button {
  background: #4F80FF;
  color: #fff;
  border-radius: 3px;
  padding: 7px 17px;
  border: none;
  line-height: 140%;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;

}

 input[type=submit]:hover,  button:hover {
box-shadow: inset 0 3px 10px rgba(255, 255, 255, 0.1),
            inset 0 -3px 10px rgba(0, 0, 0, 0.2);
}

 input[type=submit]:hover,  button:hover {background: #2F84C1;}
 input[type=submit]:active,  button:active { box-shadow: inset 0 2px 2px rgba(0,0,0,0.2); border-bottom: solid rgba(255,255,255,0.1) 1px;}


 #tools_left {
  position: absolute;
  border-right: none;
  width: 50px;
  top: 30px;
  bottom: 0;
  left: 0;
  background: #2F2F2C; /* Needed so flyout icons don't appear on the left */
  z-index: 4;
}

#workarea.wireframe #svgcontent * {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  stroke-opacity: 1.0;
  stroke-dasharray: 0;
  opacity: 1;
  pointer-events: stroke;
  vector-effect: non-scaling-stroke;
  filter: none;
}

#workarea.wireframe #svgcontent text {
  fill: #000;
  stroke: none;
}

#workarea.wireframe #canvasBackground > rect {
  fill: #FFF !important;
}

#workarea #canvasBackground > rect {
  stroke: transparent !important;
}

.context_panel {
  display: none;
}

#canvas_panel {
  display: block;
}

 #multiselected_panel .selected_tool {
  vertical-align: 12px;
}

#cur_context_panel {
  position: absolute;
  top: 47px;
  left: 68px;
  line-height: 22px;
  overflow: auto;
  border-bottom: none;
  border-right: none;
  padding-left: 5px;
  font-size: 12px;
  background: black;
  color: #999;
  opacity: 0.5;
  padding: 0 10px;
  border-radius: 0 10px 10px 0;
}

 #cur_context_panel a {
  float: none;
  text-decoration: none;
  color: #fff;
}

 #cur_context_panel a:hover {
  text-decoration: underline;
}


.tool_button {
  height: 40px;
  width: 50px;
  cursor: pointer;
  line-height: 60px;
  text-align: center;
}

.tool_button svg {
  vertical-align: center;
  fill: #999;
}


.tool_button:hover svg {
  fill: #ddd;
}

.tool_button.current svg {
  fill: #0cf;
}

.tool_button.disabled,
.tool_button.disabled:hover {
  opacity: 0.3;
  background-color: #aaa;
}

#main_menu li#tool_open,  #main_menu li#tool_import {
  position: relative;
  overflow: hidden;
}

#tool_image {
  overflow: hidden;
}

#tool_open input, 
#tool_import input,
#tool_import_bitmap input {
  position: absolute;
  opacity: 0;
  font-size: 10em;
  top: -5px;
  right: -5px;
  margin: 0;
  cursor: pointer; /* Sadly doesn't appear to have an effect */
}

 .disabled {
  opacity: 0.5;
  cursor: default;
}

 .width_label {
  padding-right: 5px;
}

#text {
  position: absolute;
  left: -9999px;
}

 #tool_bold span,  #tool_italic span { 
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; left: 0;
  background: #ccc;
  opacity: 0;
}

 #color_picker {
  position: absolute;
  display: none;
  background: #fff;
  height: 350px;
  border-radius: 3px;
  z-index: 5;
  box-shadow: 0 5px 10px #000;
  width: 530px;
}

 #tools_bottom {
  position: absolute;
  left: 50px;
  right: 0;
  bottom: 0;
  height: 40px;
  overflow: visible;
  background: #2f2f2c;
}


 #tools_top h4 {
  color: #fff;
  font-weight: normal;
  margin: 0;
  padding: 10px 0 5px 0;
}

#tools_top .dropdown .icon_label {
  border: 1px solid transparent;
  height: auto;
}

#tools_top.multiselected #align_tools {
  display: none;
}

#tools_top.multiselected #multiselected_panel {
  display: block !important;
}

#tools_top.multiselected #multiselected_panel .hidable {
  display: none;
}

.draginput_cell {
  float: left;
  height: 26px;
  height: 26px;
  border: solid #3f3f3c 10px;
  outline: solid #2f2f2c 1px;
  background-color: #3f3f3c;
  cursor: pointer;
  position: relative;
}

.draginput_cell svg {
  fill: #999;
}

.draginput_cell:hover svg {
  fill: #fff;
}

 .align_buttons  .draginput_cell:nth-child(1) {border-radius: 3px 0 0 0;}
 .align_buttons  .draginput_cell:nth-child(3) {border-radius: 0 3px 0 0;}
 .align_buttons  .draginput_cell:nth-child(4) {border-radius: 0 0 0 3px;}
 .align_buttons  .draginput_cell:nth-child(6) {border-radius: 0 0 3px 0;}

.align_buttons .push_button {
  display: block;
  float: left;
}

 ul li.current {
  background-color: #F4E284;
}

#svg_source_editor {
  display: none;
}

#svg_source_editor #svg_source_overlay {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-color: black;
  opacity: 0.6;
  z-index: 5;
}

#svg_source_editor #svg_source_container {
  position: absolute;
  top: 30px;
  left: 100px;
  right: 100px;
  bottom: 30px;
  background-color: #fff;
  border-radius: 3px;
  opacity: 1.0;
  text-align: center;
  z-index: 6;
  padding: 15px 0;
}

#svg_source_editor form {
  position: absolute;
  display: block;
  top: 15px;
  bottom: 55px;
  left: 15px;
  right: 12px;
  padding: 5px;
  font-size: 12px;
}

#svg_source_textarea {
  width: 100%;
  height: 100%;
  line-height: 140%;
  font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  font-size: 12px;
}

#svg_source_editor #tool_source_back {
  position: absolute;
  bottom: 45px;
  left: 15px;
  right: 15px;
}

#svg_source_editor #tool_source_back #tool_source_save {
  display: block;
  position: absolute;
  right: 0;
}


#svg_source_editor #tool_source_back #tool_source_cancel {
  display: block;
  position: absolute;
  left: 0;
}


 button.cancel,  input.Cancel,  input.cancel,  input.jGraduate_Cancel, button.cancel {
  -webkit-appearance: none;
  background-color: #999;
  box-shadow: 0 0 1px rgba(0,0,0,0.5);
  margin: 0;
}

.toolbar_button button .svg_icon {
    display: none;
}

#dialog_box {
  display: none;
}

#dialog_box_overlay {
  background: black;
  opacity: .5;
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
  z-index: 6;
}

#dialog_content {
  height: 95px;
  margin: 10px 10px 5px 10px;
  overflow: auto;
  text-align: left;
  font-size: 13px;
}

#dialog_buttons input:last-child {
  background: #999 !important;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

#dialog_buttons input:first-child {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#dialog_content.prompt {
  height: 75px;
}

#dialog_content p {
  margin: 10px;
  line-height: 1.3em;
}

#dialog_container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  margin-left: -150px;
  height: 150px;
  margin-top: -80px;
  position:fixed;
  z-index:50001;
  background: #fff;
}


#dialog_container, #dialog_content {
  border-radius: 3px;
}

#dialog_buttons input[type=text] {
  width: 90%;
  display: block;
  margin: 0 0 5px 11px;
}

#dialog_buttons input[type=button] {
  margin: 0 1em;
}

.invisible {
  visibility: none;
}


.touch .shortcut {
  display: none;
}

#workarea.rect, #workarea.line, #workarea.ellipse, #workarea.path, #workarea.shapelib {
  cursor: crosshair;
}

#workarea.text {
  cursor: text;
}

#workarea.eyedropper {
  cursor: url(../images/eyedropper.png) 0 16, crosshair;
}

#workarea.fhpath {
  cursor: url(../images/pencil_cursor.png) 0 16, crosshair;
}

#workarea.rotate * {
  cursor: url(../images/rotate.png) 12 12, auto;
}

#workarea.select text, #workarea.multiselect text {
  cursor: default;
}

#workarea.n-resize * {cursor: n-resize !important;}
#workarea.e-resize * {cursor: e-resize !important;}
#workarea.w-resize * {cursor: w-resize !important;}
#workarea.s-resize * {cursor: s-resize !important;}

#workarea.ne-resize * {cursor: ne-resize !important;}
#workarea.se-resize * {cursor: se-resize !important;}
#workarea.nw-resize * {cursor: nw-resize !important;}
#workarea.sw-resize * {cursor: sw-resize !important;}

#workarea.copy {
  cursor: copy;
}

#workarea.zoom {
  cursor: crosshair;
  cursor:-moz-zoom-in;
  cursor:-webkit-zoom-in;
}
#workarea.zoom.out {
  cursor: crosshair;
  cursor:-moz-zoom-out;
  cursor:-webkit-zoom-out;
}

#selectorRubberBand {
  shape-rendering: crispEdges;
}

/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}

.clearfix:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    *zoom:1;
}


#group_title {display: none;}

#tool_font_family .caret {
  right: 40px;
  top: 55%;
}

#tool_font_family select {
  width: 110px;
}


 #tool_bold,   #tool_italic { 
  font: bold 20px/35px serif;
  text-align: center;
  position: absolute;
  padding: 0 0 0 0;
  color: #ccc;
  background: transparent;
  border: none;
  width: 35px;
  height: 35px;
  margin: 0;
  top: 0;
  right: 0;
}

#tool_italic {
  border-top: solid #2f2f2c 2px;
  top: 35px;
  font-weight: bold;
  font-style: italic;
  font-size: 24px;
}


 #tool_bold:hover,   #tool_italic:hover {
  color: #fff;
}

 #tool_bold.active,   #tool_italic.active {
  color: #50A0FF;
}

#preview_font {
  font-size: 20px;
  color: #fff;
  height: 70px;
  line-height: 75px;
  padding: 0 0 0 10px;
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
  border-right: solid #2f2f2c 2px;
  position: relative;
}

#preview_font:after {
  content: '';
  position: absolute;
  right: 0;
  top: 3px;
  bottom: 3px;
  width: 15px;
  border-right: solid #3f3f3c 10px;
  background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzU4MCIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjM2YzZjNjIiBzdG9wLW9wYWNpdHk9IjAiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMzZjNmM2MiIG9mZnNldD0iMC43Ii8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c1ODApIiAvPjwvc3ZnPg==);
}

#zoom_label {
  height: 20px;
  background: transparent;
  cursor: default !important;
  width: auto;
  padding: 0 20px;
  margin: 0;
}

#zoom_panel {
  padding: 9px 0;
  right: 175px;
  position: absolute;
}

#zoom_panel .caret {
  margin-top: -5px;
}

#zoom_label img, #zoom_label svg {
  width: 16px;
  height: 16px;
}

#logo svg {
  pointer-events: none;
}

#zoomLabel {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

#zoomLabel svg {
  fill: #999;
}

#zoom_label input {
  color: #ccc;
  font-size: 13px;
  height: auto;
  width: auto;
  padding: 0;
  cursor: default;
  position: static;
}

#zoom_label span {
  top: 0;
  left: 0;
}

body.dragging * {
  cursor: url(../images/dragging.png), move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

body.drag * {
  cursor: url(../images/dragging.png), move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

input[readonly=readonly]:focus {
  box-shadow: none;
}

#color_canvas_tools, #fill_bg, #stroke_bg {
  background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMAQMAAABsu86kAAAAA3NCSVQICAjb4U/gAAAABlBMVEXu7u7///8o06qaAAAACXBIWXMAAAsSAAALEgHS3X78AAAAFXRFWHRDcmVhdGlvbiBUaW1lADcvMjIvMTL7FNdCAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M1cbXjNgAAABFJREFUCJljYP7AgIb+MKAhAM8/C5vWL6zSAAAAAElFTkSuQmCC) top left repeat;
}

#color_canvas_tools {
  width: 60px;
  height: 40px;
  margin: 23px 5px 5px 5px;
  position: relative;
  overflow: hidden;
}

#color_canvas_tools  {
  display: block;
}


#tool_angle_indicator {
  width:         50px;
  height:        50px;
  border-radius: 50px;
  background: rgba(255,255,255,0.05);
  position: absolute;
  bottom: 2px;
  left: 10px;
}

#tool_angle_indicator_cursor {
  width:         4px;
  height:        25px;
  border-top: solid #50A0FF 3px;
  position: absolute;
  margin: 0 0 0 23px;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

#stroke_style_label {
  font-size: 30px;
  margin-top: 33px;
  letter-spacing: -1px;
}

.stroke_tool .caret {
  top: 60%;
}

#tool_align_relative {
  position: absolute;
  top: -5px;
  left: 0;
  right: 20px;
  display: block;
}

#tool_align_relative select {
  width: 100%;
  display: block;
}