
#rulers > div {
  position: absolute;
  background: var(--z2);
  z-index: 1;
  overflow: hidden;
  -webkit-font-smoothing: none;
}

#rulers #ruler_corner {
  top: 30px;
  left: 50px;
  width: var(--x4);
  height: var(--x4);
  z-index: 2;
}

#ruler_x {
  height: 15px;
  top: 30px;
  left: 66px;
  right: 175px;
  
}

#rulers.moved #ruler_corner,
#rulers.moved #ruler_x {
  top: 101px;
}

#ruler_y {
  width: 15px;
  top: 46px;
  left: 50px;
  bottom: 40px;
}

#rulers.moved #ruler_y {
  top: 116px;
}

#ruler_x canvas:first-child {
  margin-left: -16px;
}

#ruler_x canvas {
  float: left;
}

#ruler_y canvas {
  margin-top: -16px;
}

#ruler_x > div, 
#ruler_y > div {
  overflow: hidden;
}
