/*
 * TABLE OF CONTENTS
 * EPSILON BRANDED
 * modified by @duopixel
 * 2012.11.12
 * FORK
 */

@import url(http://fonts.googleapis.com/css?family=Prata);
@titleFont: 'Prata', serif;
@bodyFont: Georgia, serif; 

/*
 * TOC CONTAINER
 */

#toc-tableOfContents
{
  background:white;
  color:#000;
  font-family:'Georgia', serif;
  -webkit-perspective:1000
}


/*
 * TOC HEADER
 */

#toc-header
{
  height: 75px;
}

#toc-pubName
{
  font-size:30px;
  font-family:'HelveticaNeue', 'Helvetica', sans-serif;
  text-align: center;
  color:#000;
}

#toc-pubName:active
{
  opacity:.75
}

.toc-noLogo
{
  
}

#toc-sectionName
{
  display: none;
}

.toc-sectionChanging #toc-sectionName
{
  display:none
}

#toc-logo
{
  height: 50px;
  margin: 10px 0 0 0;
}


/*
 * TOC NAVIGATION
 */

#toc-sectionToggle
{
  display: none;
}

#toc-sectionToggle:active
{
  background-color:#444;
  background-image:-webkit-linear-gradient(top, #444, #555)
}

#toc-sectionsContainer {
	position: static;
}

#toc-sections
{
  position:absolute;
  top:70px;
  left: 0;
  right: 0;
  border-top: solid black 1px;
  border-bottom: solid #ccc 1px;
  font: normal 15px @titleFont, serif;
  text-transform: uppercase;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}

#toc-sections li
{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  color:black;
  height: 40px;
  line-height: 40px;
  -webkit-box-flex: 1;
  padding: 0;
  text-align: center;
  border-right: solid #ccc 1px;
  /*remove if number of categories changes*/
  width: 25%;
}

#toc-sections li:last-child {
	border-right: none;
}

#toc-sections li:active
{
  background: #000;
  color: white;
}

#toc-sections li.toc-currentSection
{
	border-bottom: solid black 3px;
}


/*
 * TOC ENTRIES GENERAL
 */

#toc-entriesContainer
{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: white;
  margin: 112px 0 40px 0;
  -webkit-transform:rotate3d(0, 0, 0, 0);
  -webkit-transition:-webkit-transform 500ms ease, opacity 500ms ease
}

.toc-sectionChanging #toc-entriesContainer
{
  -webkit-transform:rotate3d(1, 0, 0, -100deg);
  opacity:.2;
  -webkit-backface-visibility:hidden
}

#toc-entries
{
  height:100%;
  width:100%;
  -webkit-column-gap:0
}

.toc-entry
{
  width:25%;
  height:50%;
  float:left;
  position:relative;
  z-index:0
}

.toc-entryContent
{
  display:-webkit-box;
  -webkit-box-orient:vertical;
  border:solid #ddd 1px;
  border-width:0 1px 1px 0;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  padding:10px;
  font-size:13px;
  overflow:hidden
}

.toc-entrySections
{
  display:none
}

.toc-heds
{
  
}

.toc-hed
{
  font-size:16px;
  font-weight:normal;
  text-transform: uppercase;
  margin-bottom:2px
}

.toc-avatar
{
  display:none
}

.toc-dek
{
  margin-bottom:5px
}

.toc-longExcerpt
{
  display:none
}

.toc-dateline, .toc-byline {
	font-size: 11px;
}

.toc-byline
{
  line-height:140%;
  display: inline;
  font-family: 'Georgia', serif;
  color: #999;
}

.toc-byline::before
{
  content:'By ';
}

.toc-dateline
{
  font-size:0;
  display: inline;
  color: transparent;
}

.toc-dateline::before
{
  content: "on " attr(date-numericlittleendian);
  display: inline;
  font-size: 11px;
  font-family: Georgia, serif;
  color: #999;
}

.toc-img-featuredImage
{
  display: none;
}

.toc-featuredImage
{
  width:100%;
  height:40%;
  background-position:center;
  margin:3px 0 7px 0;
  background-repeat:no-repeat;
  background-size: contain;
  -webkit-box-flex:1;
}

/*
 * TOC ENTRIES SPECIFIC
 */

.toc-pictureless .toc-featuredImage
{
  display:none
}

.toc-pictureless .toc-hed
{
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden
}

.toc-pictureless .toc-dek
{
  font-size: 12px;
  line-height: 22px;
  display: block;
  margin-top: 14px;
  width: 90%;
}

.toc-tweet
{
  display:-webkit-box
}

.toc-tweet .toc-heds
{
  -webkit-box-ordinal-group:2
}

.toc-tweet .toc-dek
{
  -webkit-box-ordinal-group:1;
  font-style:italic;
  font-size:24px;
  line-height:26px
}

.toc-tweet .toc-hed
{
  display:none
}

.toc-tweet .toc-byline::before
{
  content:'By @'
}

.toc-tweet .toc-dateline
{
  font-size:11px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  display:block;
  margin:0 0 3px 0
}

.toc-tweet .toc-dateline::before
{
  display:none
}

/*
 * TOC FOOTER
 */

#toc-footer
{
  height: 40px;
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}

#toc-pagination
{
  display:inline-block;
  list-style:none;
  overflow:hidden;
  margin-top:7px
}

#toc-pagination li
{
  display:inline-block;
  text-indent:-3000px;
  -webkit-border-radius:5px;
  border-radius:5px;
  width:6px;
  height:6px;
  margin:6px;
  border:1px solid #999;
  text-align:center;
  -webkit-transition:all .375s ease;
  pointer-events:none
}

#toc-pagination .toc-currentPage
{
  border-color: #999;
  background: #999;
}


/*
 * TOC PORTRAIT
 */

@media screen
and (orientation:portrait)
{

  #toc-sectionsContainer li {
    padding: 0 15px;
    font-size: 14px;
  }
  .toc-entry
  {
    width:33.34%;
    height:33.34%
  }

  .toc-inSection .toc-entry {
    width:33.33%;
    height:50%
  }

  .toc-dek {
    display: none;
  }
  
  .toc-notInSection #toc-entries > li:nth-child(6n+1),
  .toc-notInSection #toc-entries > li:nth-child(6n+4),
  .toc-notInSection #toc-entries > li:nth-child(6n+5)
  {
    height:33.34%;
    width:66.67%;
    .toc-dek {
      display: block;
    }
  }
  
  
  .toc-notInSection #toc-entries > li:nth-child(6n+1) .toc-pictured .toc-hed,
  .toc-notInSection #toc-entries > li:nth-child(6n+4) .toc-pictured .toc-hed,
  .toc-notInSection #toc-entries > li:nth-child(6n+5) .toc-pictured .toc-hed
  {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
  }
  
  .toc-notInSection #toc-entries > li:nth-child(6n+1) .toc-pictured .toc-dek,
  .toc-notInSection #toc-entries > li:nth-child(6n+4) .toc-pictured .toc-dek,
  .toc-notInSection #toc-entries > li:nth-child(6n+5) .toc-pictured .toc-dek
  {
    position:absolute;
    margin:0;
    width:35%;
    right:10px;
    top:72px
  }
  
  .toc-notInSection #toc-entries > li:nth-child(6n+1) .toc-pictured.toc-titleless .toc-dek,
  .toc-notInSection #toc-entries > li:nth-child(6n+4) .toc-pictured.toc-titleless .toc-dek,
  .toc-notInSection #toc-entries > li:nth-child(6n+5) .toc-pictured.toc-titleless .toc-dek
  {
    top:42px
  }
  
  .toc-notInSection #toc-entries > li:nth-child(6n+1) .toc-pictured .toc-featuredImage,
  .toc-notInSection #toc-entries > li:nth-child(6n+4) .toc-pictured .toc-featuredImage,
  .toc-notInSection #toc-entries > li:nth-child(6n+5) .toc-pictured .toc-featuredImage
  {
    width:60%
  }

}


/*
 * TOC LANDSCAPE
 */

@media screen
and (orientation:landscape)
{
  .toc-entry
  {
    width:25%;
    height:50%
  }

  .toc-dek {
    display: none;
  }
  
  .toc-notInSection #toc-entries > li:nth-child(5n+1)
  {
    height:100%;
    .toc-dek {
      display: block;
    }
  }
  
  
  .toc-notInSection #toc-entries > li:nth-child(5n+2),
  .toc-notInSection #toc-entries > li:nth-child(5n+4)
  {
    width:50%;
    .toc-dek {
      display: block;
    }
  }
  
  .toc-notInSection #toc-entries > li:nth-child(5n+2) .toc-pictured .toc-hed,
  .toc-notInSection #toc-entries > li:nth-child(5n+4) .toc-pictured .toc-hed
  {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
  }
  
  .toc-notInSection #toc-entries > li:nth-child(5n+2) .toc-pictured .toc-dek,
  .toc-notInSection #toc-entries > li:nth-child(5n+4) .toc-pictured .toc-dek
  {
    position:absolute;
    margin:0;
    width:35%;
    right:10px;
    top:72px
  }
  
  .toc-notInSection #toc-entries > li:nth-child(5n+2) .toc-pictured.toc-titleless .toc-dek,
  .toc-notInSection #toc-entries > li:nth-child(5n+4) .toc-pictured.toc-titleless .toc-dek
  {
    top:42px
  }
  
  .toc-notInSection #toc-entries > li:nth-child(5n+2) .toc-pictured .toc-featuredImage,
  .toc-notInSection #toc-entries > li:nth-child(5n+4) .toc-pictured .toc-featuredImage
  {
    width:60%
  }

}


/*
 * NEXUS 7
 */

@media (max-height: 400pt)
and (orientation:landscape)
{
  .toc-notInSection #toc-entries > li:nth-child(5n+2) .toc-pictured .toc-featuredImage,
  .toc-notInSection #toc-entries > li:nth-child(5n+4) .toc-pictured .toc-featuredImage {
    display: block;
    width: 40%;
  }
  .toc-notInSection #toc-entries > li:nth-child(5n+2) .toc-pictured .toc-dek,
  .toc-notInSection #toc-entries > li:nth-child(5n+4) .toc-pictured .toc-dek {
    width: 55%;
  }
  
  .toc-notInSection #toc-entries > li:nth-child(5n+3) .toc-entryContent:not(.toc-tweet) .toc-excerpt,
  .toc-notInSection #toc-entries > li:nth-child(5n+5) .toc-entryContent:not(.toc-tweet) .toc-excerpt,
  .toc-inSection .toc-excerpt
  {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .toc-notInSection #toc-entries > li:nth-child(5n+3) .toc-hed,
  .toc-notInSection #toc-entries > li:nth-child(5n+5) .toc-hed,
  .toc-inSection .toc-hed
  {
    font-size: 1.25em;
  }
  
  .toc-notInSection #toc-entries > li:nth-child(5n+3) .toc-dateline,
  .toc-notInSection #toc-entries > li:nth-child(5n+5) .toc-dateline,
  .toc-inSection .toc-dateline
  {
    display: none;
  }
  
  .toc-pictureless .toc-dek {
    font-size: 13px;
    line-height: normal;
  }
  .toc-tweet .toc-dek
  {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-height: 600pt)
and (orientation:portrait)
{
  .toc-pictureless .toc-dek {
    font-size: 13px;
    line-height: normal;
  }
  .toc-tweet .toc-dek
  {
    font-size: 18px;
    line-height: 22px;
  }
  
  .toc-notInSection #toc-entries > li:nth-child(7n+2) .toc-entryContent:not(.toc-tweet) .toc-excerpt,
  .toc-notInSection #toc-entries > li:nth-child(7n+3) .toc-entryContent:not(.toc-tweet) .toc-excerpt,
  .toc-notInSection #toc-entries > li:nth-child(7n+4) .toc-entryContent:not(.toc-tweet) .toc-excerpt,
  .toc-notInSection #toc-entries > li:nth-child(7n+5) .toc-entryContent:not(.toc-tweet) .toc-excerpt,
  .toc-notInSection #toc-entries > li:nth-child(7n+7) .toc-entryContent:not(.toc-tweet) .toc-excerpt,
  .toc-inSection .toc-excerpt
  {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .toc-notInSection #toc-entries > li:nth-child(7n+2) .toc-hed,
  .toc-notInSection #toc-entries > li:nth-child(7n+3) .toc-hed,
  .toc-notInSection #toc-entries > li:nth-child(7n+4) .toc-hed,
  .toc-notInSection #toc-entries > li:nth-child(7n+5) .toc-hed,
  .toc-notInSection #toc-entries > li:nth-child(7n+7) .toc-hed,
  .toc-inSection .toc-hed
  {
    font-size: 1.4em;
  }
  
  .toc-notInSection #toc-entries > li:nth-child(7n+2) .toc-dateline,
  .toc-notInSection #toc-entries > li:nth-child(7n+3) .toc-dateline,
  .toc-notInSection #toc-entries > li:nth-child(7n+4) .toc-dateline,
  .toc-notInSection #toc-entries > li:nth-child(7n+5) .toc-dateline,
  .toc-notInSection #toc-entries > li:nth-child(7n+7) .toc-dateline,
  .toc-inSection .toc-dateline
  {
    display: none;
  }
  
}



/*
 * TOC PUBLISHER
 */

@toc-accentColor_light:@accentColor + #222;
@toc-accentColor_dark:@accentColor - #222;
@toc-accentColor_darkest:@accentColor - #333;


#toc-pubName.toc-noLogo
{
  font-family:@publicationFont;
}

.toc-heds .toc-hed
{
  font-family:@titleFont;
}

#toc-sectionToggle
{
  font-family:@titleFont;
}

#toc-sectionsContainer #toc-sections li
{
  font-family:@titleFont;
}

.toc-dek .toc-excerpt,
.toc-dek .toc-longExcerpt
{
  font-family:@bodyFont;
}

.toc-tweet .toc-dek span
{
  color: @accentColor
}

